/* Import Tailwind's base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles go below the Tailwind imports */
/*Primary Color: #8D6E63 (Warm Brown)
Secondary Color: #F5F5DC (Beige)
Accent Color: #2E7D32 (Deep Green)
Text Color: #3E2723 (Dark Brown)*/
/* Ensure full height for the app */
/* Ensure full height and remove unwanted margin/padding */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  z-index: 0;
}

/* Make sure the main content takes all available space */

/* Ensures the footer sticks to the bottom */

 